<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.subway.persistence.LineRepository">

	<sql id="selectWhat">
		<!-- name -->
		lines_.name AS line_name,
		<!-- routeSections -->
		<include refid="com.solvd.subway.persistence.RouteSectionRepository.selectWhat"/>
	</sql>

	<sql id="fromWhere">
		lines_
		<include refid="joinNecessary"/>
	</sql>

	<sql id="joinNecessary">
		LEFT JOIN lines_have_route_sections lhrs ON lines_.name = lhrs.line_name
		LEFT JOIN route_sections rs ON lhrs.route_section_id = rs.id
		<include refid="com.solvd.subway.persistence.RouteSectionRepository.joinNecessary"/>
	</sql>

	<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

	<insert id="create" keyColumn="name" keyProperty="name" useGeneratedKeys="false">
		INSERT INTO lines_ (name) VALUES ("${line.name}")
		;
<!--		<foreach item="routeSection" index="index" collection="line.routeSections" separator=";" nullable="true">-->
<!--			INSERT INTO lines_have_route_sections (line_name, route_section_id, section_no)-->
<!--			VALUES ("${line.name}", ${routeSection.id}, ${index+1})-->
<!--		</foreach>-->
	</insert>

	<select id="getAll" resultMap="LineResultMap">
		SELECT
		<include refid="selectWhat"/>
		FROM
		<include refid="fromWhere"/>
	</select>

	<select id="getByName" resultMap="LineResultMap">
		SELECT
		<include refid="selectWhat"/>
		FROM
		<include refid="fromWhere"/>
		WHERE lines_.name = "${name}"
	</select>

	<select id="getBaseFare" resultMap="LineResultMap">
		SELECT SUM(base_fare_one_minute*minutes) AS base_fare
		FROM
		<include refid="fromWhere"/>
		WHERE lines_.name = "${name}"
	</select>

	<delete id="delete">
		DELETE lines_ FROM lines_ WHERE lines_.name = #{name}
	</delete>

	<select id="getSections" resultMap="com.solvd.subway.persistence.RouteSectionRepository.RouteSectionResultMap">
		SELECT
		<include refid="com.solvd.subway.persistence.RouteSectionRepository.selectWhat"/>
		FROM
		<include refid="fromWhere"/>
		WHERE line_name = #{lineName}
		ORDER BY section_no ASC ;
	</select>

	<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

	<resultMap id="LineResultMap" type="com.solvd.subway.domain.networkelements.Line" autoMapping="false">
		<id property="name" column="line_name"/>
		<collection property="routeSections"
					ofType="com.solvd.subway.domain.networkelements.RouteSection"
					resultMap="com.solvd.subway.persistence.RouteSectionRepository.RouteSectionResultMap"/>
	</resultMap>

</mapper>