<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.subway.persistence.StationRepository">

	<sql id="selectWhat">
		<!-- id -->
		stations.id AS station_id,
		<!-- name -->
		stations.name AS station_name
	</sql>

	<sql id="fromWhere">
		stations
	</sql>

	<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

	<insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO stations (name)
		VALUES (#{station.name})
	</insert>

	<select id="getAll" resultMap="StationResultMap">
		SELECT
		<include refid="selectWhat"/>
		FROM
		<include refid="fromWhere"/>
	</select>

	<select id="getById" resultMap="StationResultMap">
		SELECT
		<include refid="selectWhat"/>
		FROM
		<include refid="fromWhere"/>
		WHERE stations.id = #{id}
	</select>

	<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

	<resultMap id="StationResultMap" type="com.solvd.subway.domain.networkelements.Station" autoMapping="false">
		<id property="id" column="station_id"/>
		<result property="name" column="station_name"/>
	</resultMap>

</mapper>