<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.subway.persistence.ZoneRepository">

	<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

	<insert id="create" keyColumn="name" keyProperty="name" useGeneratedKeys="false">
		INSERT INTO zones (name, base_fare_one_minute) VALUES (#{name}, #{baseFareOneMinute});
	</insert>

	<sql id="findBody">
		z.name AS zone_name,
		z.base_fare_one_minute AS zone_base_fare_one_minute
	</sql>

	<sql id="findJoins">
		zones z
	</sql>

	<sql id="find">
		SELECT
		<include refid="findBody"/>
		FROM
		<include refid="findJoins"/>
		;
	</sql>

	<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

	<select id="getAll" resultMap="ZoneResultMap">
		<include refid="find"/>
	</select>

	<select id="getById" resultMap="ZoneResultMap">
		SELECT *
		FROM zones
		WHERE name = #{name}
	</select>

	<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

	<resultMap id="ZoneResultMap" type="com.solvd.subway.domain.networkelements.Zone" autoMapping="false">
		<id property="name" column="zone_name"/>
		<result property="baseFareOneMinute" column="zone_base_fare_one_minute"/>
	</resultMap>

</mapper>